.not-found {
  margin: 0 auto;
  text-align: center;

  &-btn {
    align-self: center;
    border: 0;
    color: #fbfbff;
    font-size: 22px;
    font-weight: 700;
    background-color: #01baef;
    padding: 4px 16px;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #0b4f6c;
    }
  }
}
